/ScheduleShipManagementService/build/
/RSocketTickerManagementService/build/
/rsocketclient/
/ReactiveTasksManagementService/build/
/ReactiveTasksManagementR2DBCService/build/
/RSocketTickerManagementServiceConsumerService/build/
/serviceusers/build/
/build/
/.gradle/
.idea/
.idea/*
!/.idea/misc.xml
