/ScheduleShipManagementService/build/
/RSocketTickerManagementService/build/
/rsocketclient/
/ReactiveTasksManagementService/build/
/ReactiveTasksManagementR2DBCService/build/
/serviceusers/build/
/build/
/.gradle/
